@model UrunSatisPortali.Models.Kategori;

@{
    ViewData["Title"] = "KategoriGüncelle";
    Layout = "~/Views/Home/Admin.cshtml";
}



<h1>Kategori Güncelle</h1>
<hr />
@using (Html.BeginForm("KategoriGuncelle", "Admin", FormMethod.Post))
{
    <b>Kategori ID</b>
    @Html.TextBoxFor(x => x.kategoriID, new { @class = "form-control" })
    <br />
    <b>Kategori Adı</b>
    @Html.TextBoxFor(x => x.kategoriAD, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kategori Ekle</button>
}